* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    
}

body::before {
    content: "";
    background: url('wp4446237-dhoni-2019-wallpapers.jpg') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    
}

.coverpage {
    width: 98.8vw;
    height: 98vh;
    background-color: #3e456b;
    opacity: 0.8;
    transform: scale(103%);
    
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    color: #f1eded;
    font-family: 'Reenie Beanie', cursive;
    
}

.hero_title {
    font-size: 70px;
    font-family: 'Reenie Beanie', cursive;
    margin-bottom: 10px;
    opacity: 1;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.hero_tribute {
    font-size: 32px;
    font-family: 'Reenie Beanie', cursive;
    margin-bottom: 20px;
    opacity: 1;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.hero span {
    font-size: 20px;
    margin-top: 20px;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.hero i {
    font-size: 40px;
    opacity: 1;
    color: rgb(223, 37, 37);
    
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.intro {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e9e9ec;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intro-image {
    position: relative;
    top: 10px;
    left: 150px;
    border: 2px solid rgb(104, 101, 101);
    width: 50%;
    height: auto;
    transform: scale(75%);
    border-radius: 10px;
    box-shadow: 4px 4px 10px #3e456b;
   
}

.intro-content {
    padding-left: 15%;
    padding-right: 10%;
}

.intro-content span {
    display: flex;
    position: relative;
    bottom: 20px;
    font-size: 2.5rem;
    justify-content: center;
    color: #3F51B5;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.divider {
    height: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.intro-content p {
    width: auto;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #3c3c3c;
    font-family: 'Raleway', sans-serif;

}



.info-section {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(241, 243, 243);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-section h2{
    position: relative;
    padding: 2px 2px 2px 2px;
    bottom: 15px;
    font-size: 1.1rem;
    background-color: #4054c3;
    border: 2px solid rgb(255, 255, 255);
    color: #f0f0f3;
    display: flex;
    justify-content: center;
}

.info-box1{
    width: 40%;
    margin: 10px;
    padding: 20px;
    line-height: 1.5;
    background-color: transparent;
}


.info-box2{
    width: 40%;
    position: relative;
    margin: 10px;
    padding: 20px;
    line-height: 1.5;
    background-color: transparent;
}

.info-box3{
    width: 45%;
    position: relative;
    left: 40px;
    bottom: 40px;
    margin: 10px;
    padding: 20px;
    background-color: transparent;
}

.info-box4{
    width: 45%;
    position: relative;
    margin: 10px;
    bottom: 40px;
    padding: 20px;
    background-color: transparent;
}


.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-list, .info-table {
    list-style: none;
    padding: 10px 10px 10px 10px;
    color: #3c3c3c;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #BDBDBD;
    table-layout: fixed;
    word-wrap: break-word;
}

.info-list li, .info-table tr {
    margin-bottom: 5px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.info-table th {
    background-color: #f0f0f3;
}


.tg-image{
    transform: translateY(-40px);
    max-height: 80%  
}

.timeline{
    text-align: justify;
    margin-top: -30px;
    background: rgba(255, 255, 255, 0.1);
    background-image: url('Timeline_BG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  }

.timeline span{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #3F51B5;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timeline img{
    transform: translateY(10px);
}


  
.timeline ul {
    padding-left: 220px;
    padding-right: 220px;
    margin-bottom: 0;
    font-size: 2rem;
  }

  .timeline li,strong{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #484954;
    font-family: 'Raleway', sans-serif;
  }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 70px;
    background-color: #303657;
    color: #ffffff;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}


@keyframes floatImage {
    0%{
        transform: translateY(0);     
    }

    50%{
        transform: translateY(-50px);
    }

    100%{
        transform: translateY(0);
    }
    
}

@media screen and (max-width: 768px) {
    *{
        overflow-x: none;
    }
    /* Adjust styles for screens with a maximum width of 768px (tablets and smaller) */
    .hero_title {
        font-size: 3rem;
    }

    .hero_tribute {
        font-size: 1.5rem;
    }

    .hero span {
        font-size: 1.2rem;
    }

    .hero i {
        font-size: 1.5rem;
    }

    .intro {
        padding: 5px;
        flex-direction: column;
        align-items: center;
    }

    .intro img{
        border: none;
        box-shadow: none;
    }

    .intro-image {
        width: 100%;
        max-width: 100%;
        border: none;
        box-shadow: none;
        align-items: center;
    }

    .intro-content span {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .timeline ul{
        padding-left: 30px;
        padding-right: 20px;
    }
}


@media (max-width: 500px) {

    body::before {
        content: "";
        background: url('responsive_wp4446237-dhoni-2019-wallpapers.jpg') center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
    }
    .coverpage {
        min-height: 80vh;
        height: 100vh;
    }

    .hero{
        align-items: center;
    }

    .hero_title {
        font-size: 2.5rem;
    }

    .hero_tribute {
        font-size: 1.5rem;
    }

    .hero span {
        font-size: 1rem;
    }

    .hero i {
        font-size: 2rem;
    }

    .intro {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
    }

    .intro-image {
        width: 100%;
        max-width: 300px;
        padding-right: 210%;
        border: none;
        box-shadow: none;
    }

    .intro-content {
        padding: 10px;
    }

    .intro-content span {
        align-items: center;
        padding-top: 10px;
        font-size: 1.5rem;
    }

    .info-section {
        flex-direction: column;
    }

    .info-box1, .info-box2, .info-box3, .info-box4 {
        width: 100%;
        height: 80%;
        position: relative;
        padding-right: 50px;
        margin: 10px;
        align-items: center;
    }

    .info-box3{
        position: relative;
        padding-right: 100px;
        padding-left: 5px;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .info-list li, .info-table tr {
        font-size: 1rem;
    }

    .timeline{
        background-color: #f4f4f4;
    }

    .timeline span {
        font-size: 1.5rem;
    }


    .timeline ul {
        padding-left: 30px;
        padding-right: 20px;
        
    }

    .timeline li, .timeline strong {
        font-size: 1rem;
    }

    .footer {
        height: 60px;
        text-align: center;
    }
}

